<div>
  <input type="button" value="Play Game" onClick="window.location.reload()">
</div>
<div>
  <canvas id="puzzleCanvas" width="450" height="450"></canvas>
</div>
<br>
<hr>
<div class="container">
  <div class="row">
    <div class="col-md-4 col-md-offset-1">
      <div class="panel panel-success">
        <div class="panel-body">
          <h3 class="center">Controls</h3>
          <p>
            Use mouse to click on a picture square to move it to an open position.
          </p>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-md-offset-1">
      <div class="panel panel-success">
        <div class="panel-body">
          <h3 class="center">Instructions</h3>
          <ul>
            <li>Move images until the picture is in the correct order</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <br>
  <div class="row">
    <h1 class="center">Tips Using Createjs</h1>
  </div>
  <br>
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-danger">
        <h2 class="center">Creating Shapes</h2>
        <p>
          A shape here is used as the puzzle. The complete picture is added onto the canvas. A shape is created by drawing a rectangle with specific attributes. As seen below (0, 0, 150, 150) are used. The Shape is then given a name so that it can be added to the canvas.
        </p>
        <img src="./assets/images/createShape.png" alt="Code Snippet of Collision" />
      </div>
    </div>
    <div class="col-md-10 col-md-offset-1">
      <div class="panel panel-danger">
        <h2 class="center">Creating Puzzle Pieces</h2>
        <p>
          This is how you create the pieces from the image that was imported. 
        </p>
        <img src="./assets/images/createPieces.png" alt="Code Snippet of image import" />
      </div>
    </div>
  </div>
</div>
