<div class="container">
  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      <div id="runner">
        <a routerLink="runner">
          <div class="panel panel-default">
            <div class="panel-body">
              <img src="./assets/catboy.png" alt="Runner Game Screenshot" />
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <div id="puzzle">
        <a routerLink="slide-puzzle">
          <div class="panel panel-default">
            <div class="panel-body">
              <img src="./assets/puzzle.png" alt="Puzzle Game Screenshot" />
            </div>
          </div>
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <div id="tunnel">
        <div class="panel panel-default">
          <div class="panel-body">

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
