<div class="container">
  <div class="row">
    <div class="jumbotron">
      <h1 class="center">Play Games</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 col-md-offset-1">
      <div id="runner">
        <a routerLink="runner">
          <img class="center-block" src="./assets/pjmask.png" alt="Runner Game Screenshot" />
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <div id="puzzle">
        <a routerLink="slide-puzzle">
          <img class="center-block" src="./assets/puzzle.png" alt="Puzzle Game Screenshot" />
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <div id="tunnel">
        <a routerLink="webcrawler">
          <img class="center-block" src="./assets/webcrawler.png" alt="Webcrawler Game Screenshot" />
        </a>
      </div>
    </div>
  </div>
</div>
